@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>
<noscript>Denne netsiden krever javascript.</noscript>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
